# Rewrite snippets contain a few rewrite rules and optional MitM hostnames.
# Snippets of configuration will be saved in the "Profiles" subdirectory of "Quantumult X".
# You can link the snippets to the main configuration profile.
# You can check the sample snippets at https://raw.githubusercontent.com/crossutility/Quantumult-X/master/sample-import-rewrite.snippet
 
 
 
;^http://example.com/resource1/4/ url reject-dict
https:\/\/api\.revenuecat\.com\/v1\/(subscribers|receipts) url script-response-body http://ox.xmkczs.com/quantumultX/Pixelmatorpro.js
